.navbar{
    width: 100%;
    height: fit-content;
   box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   

}
.figure{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    /* margin-left: 1rem; */
}
.figure>img{
    width: 100%;
    height: 100%;

}
.menu{
    width: 21%;
    position: fixed;
    top: 0;
    height: 100vh;
    right: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    opacity: 0.5; 
    color:black;
}
.item{

    margin-left:2rem;
}

.m_item{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: .3rem;
    color:#0b6efd;
}
.m_item:hover{
    opacity: 0.7;
    
}
@media screen and (max-width:780px){
    .menu{
        width: 40%;
    }
}
.pyramid-loader {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  